.megamenu-content {
  display: none;
  width: 100%;
  position: absolute;
  top: 29px;
  padding-top: 20px;
  left: 0;
  min-width: 230px;

  &:hover {
    display: block;
  }
}
.megamenu-trigger:hover {
  & + .megamenu-content {
    display: block;
  }
}