<footer>
    <div class="row">
        <div class="container-fluid">
            <div class="top-section">
                <a href="" class="social-link icon icon-google"></a>
                <a href="" class="social-link icon icon-facebook"></a>
                <a href="" class="social-link icon icon-twitter"></a>
                <a href="" class="social-link icon icon-youtube"></a>
                <a href="" class="social-link icon icon-instagram"></a>
                <a href="" class="social-link icon icon-linkedin"></a>

            </div>
        </div>
    </div>

    <div class="row red-border">
        <div class="container-fluid">
            <div class="middle-section">
                <section class="col-lg-4 col-sm-12">
                    <div class="row end-lg">
                        <div class="col-lg-6 col-sm-12">
                            <h4>Universidad Europea</h4>
                            <a href="">Carta al rector</a>
                            <a href="">Trabaja con nosotros</a>
                        </div>
                    </div>
                </section>
                <section class="col-lg-4 col-sm-12">
                    <div class="row center-lg">
                        <div class="col-lg-6 col-sm-12">
                            <h4>Sala de prensa</h4>
                            <a href="">Notas de prensa</a>
                            <a href="">Comunicados</a>
                        </div>
                    </div>
                </section>
                <section class="col-lg-4 col-sm-12">
                    <div class="row start-lg">
                        <div class="col-lg-6 col-sm-12">
                            <h4>Acreditaciones</h4>
                            <a href="">WSCUC</a>
                            <a href="">Aneca</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid">
            <div class="bottom-section">
                <div class="bottom-section__links">
                    <a href="">Contacto</a>
                    <a href="">Política de privacidad</a>
                    <a href="">Cookies</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-white">
        <div class="container-fluid">
            <div class="bottom-section">
                <div class="bottom-section__logos">
                    <div class="title">
                        <h4 class="bg-line text-center">
                            <span>Certificaciones de la Universidad Europea</span>
                        </h4>
                    </div>
                    <div class="logos">
                        <a href="" class="logo"><img src="/images/logos/bcorp.png" alt=""></a>
                        <a href="" class="logo"><img src="/images/logos/csm_EFQM.png" alt=""></a>
                        <a href="" class="logo"><img src="/images/logos/col6_ISO_14001.png" alt=""></a>
                        <a href="" class="logo"><img src="/images/logos/OHSAS_18001_COL.png" alt=""></a>
                        <a href="" class="logo"><img src="/images/logos/facilities.png" alt=""></a>
                        <a href="" class="logo"><img src="/images/logos/madrid-excelente.png" alt="" /></a>
                        <a href="" class="logo"><img src="/images/logos/aneca.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>