<header>
    <div id="sticky-header" class=" desktop-only">
        <div class="row top-menu hide-when-sticky">
            <div class="container-fluid">
                <nav class="top-menu__links">
                    <ul>
                        <li><a href="">Contacto</a></li>
                        <li><a href="">Noticias</a></li>
                        <li><a href="">Agenda</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Alumni</a></li>
                        <li>
                            Español
                        </li>
                    </ul>
                    <ul class="floated-right">
                        <li class="floated-right text-higlighted-blue"><i class="icon icon-phone"></i>917407272</li>
                        <li class="floated-right"><a href="" class="text-higlighted-blue">¿Tienes dudas?</a></li>
                        <li class="floated-right search-link"><button><i class="icon icon-search"></i></button></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row bottom-menu">
            <div class="container-fluid bottom-menu__content">
                <div class="floated-left">
                    <img src="/images/logos/ue-logo.svg" alt="">
                </div>
                <div class="centered">
                    <nav>
                        <ul>
                            <li><a href="" class="two-line-link"><span>Conoce</span>Universidad Europea</a></li>
                            <li><a href="" class="two-line-link"><span>Descubre</span>Oferta Académica</a></li>
                            <li><a href="" class="two-line-link"><span>Vive</span>Experiencia Universitaria</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="floated-right">
                    <button class="btn-primary btn-small private-area-link hide-when-sticky"><i class="icon icon-user-white"></i> Área privada</button>
                    <ul class="sticky-links">
                        <li class="only-sticky"><a href="" class=" text-higlighted-blue">¿Tienes dudas?</a></li>
                        <li class="only-sticky"><a href=""><i class="icon icon-search"></i></a></li>
                        <li class="only-sticky"><button class="btn-primary btn-small private-area-link"><i class="icon icon-user-white"></i></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>