<header>
    <div id="sticky-header" class="desktop-only">
        <div class="row top-menu hide-when-sticky">
            <div class="container-fluid">
                <nav class="top-menu__links">
                    <ul>
                        <li><a href="">Contacto</a></li>
                        <li><a href="">Noticias</a></li>
                        <li><a href="">Agenda</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Alumni</a></li>
                        <li>
                            Español
                        </li>
                    </ul>
                    <ul class="floated-right">
                        <li class="floated-right text-higlighted-blue"><i class="icon icon-phone"></i>917407272</li>
                        <li class="floated-right"><a href="" class="text-higlighted-blue">¿Tienes dudas?</a></li>
                        <li class="floated-right search-link"><button class="header-btn"><i class="icon icon-search"></i></button></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row bottom-menu">
            <div class="container-fluid bottom-menu__content">
                <div class="floated-left container-logo">
                    <img src="/images/logos/ue-logo.svg" alt="">
                </div>
                <div class="centered">
                    <nav>
                        <ul>
                            <li><a href="" class="two-line-link megamenu-trigger" data-menuid="first-container"><span>Conoce</span>Universidad Europea</a></li>
                            <li><a href="" class="two-line-link megamenu-trigger" data-menuid="second-container"><span>Descubre</span>Oferta Académica</a></li>
                            <li><a href="" class="two-line-link megamenu-trigger" data-menuid="third-container"><span>Vive</span>Experiencia Universitaria</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="floated-right h100">
                    <button class="btn-primary btn-small private-area-link hide-when-sticky"><i class="icon icon-user-white"></i> Área privada</button>
                    <ul class="sticky-links h100">
                        <li class="only-sticky"><a href="" class="text-higlighted-blue">¿Tienes dudas?</a></li>
                        <li class="only-sticky"><a href="" class="header-btn"><i class="icon icon-search"></i></a></li>
                        <li class="only-sticky"><button class="private-area-link header-btn"><i class="icon icon-user-white"></i></button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid position-relative" id="megamenu-layer">
                <div class="megamenu-content" id="first-container">
                    <div class="menu-container">
                        <div class="col-lg-4">
                            <div class="menu-container__group floated-right">
                                <h5>Ven a conocernos</h5>
                                <a href="">Jornadas a puertas abiertas</a>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="menu-container__group centered">
                                <h5>Necesitas Saber</h5>
                                <a href="">Información práctica</a>
                                <a href="">Servicios al estudiante</a>
                                <a href="">Carreras profesionales</a>
                                <a href="">Emprendedores sociales</a>
                                <a href="">Vida universitaria</a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="menu-container__group floated-left">
                                <h5>Admisiones</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="megamenu-content" id="second-container">
                    <div class="menu-container">
                        <div class="col-lg-4">
                            <div class="menu-container__group floated-right">
                                <h5>Ven a conocernos222222</h5>
                                <a href="">Jornadas a puertas abiertas</a>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="menu-container__group centered">
                                <h5>Necesitas Saber</h5>
                                <a href="">Información práctica</a>
                                <a href="">Servicios al estudiante</a>
                                <a href="">Carreras profesionales</a>
                                <a href="">Emprendedores sociales</a>
                                <a href="">Vida universitaria</a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="menu-container__group floated-left">
                                <h5>Admisiones</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="megamenu-content" id="third-container">
                    <div class="menu-container">
                        <div class="col-lg-4">
                            <div class="menu-container__group floated-right">
                                <h5>Ven a conocernos33333</h5>
                                <a href="">Jornadas a puertas abiertas</a>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="menu-container__group centered">
                                <h5>Necesitas Saber</h5>
                                <a href="">Información práctica</a>
                                <a href="">Servicios al estudiante</a>
                                <a href="">Carreras profesionales</a>
                                <a href="">Emprendedores sociales</a>
                                <a href="">Vida universitaria</a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="menu-container__group floated-left">
                                <h5>Admisiones</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>