<section class="container-fluid pdt-50">
            <div class="row">
                <div class="container-fluid">
                    <p class="text-center bg-grey pdb-15 pdt-15">
                        1200px <br>
                        <b>.row > .container-fluid</b>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="clearfix pdt-25">
                    <div class="color-cube white-text" style="background-color: #000000;">
                        <p>
                            #000000 <br>
                            .$c-main-primary
                        </p>
                    </div>
                    <div class="color-cube white-text" style="background-color: #DE3831;">
                        <p>
                            #DE3831 <br>
                            .$c-main-secondary
                        </p>
                    </div>
                    <div class="color-cube white-text" style="background-color: #3D8FCB;">
                        <p>
                            #3D8FC8 <br>
                            .$c-main-tertiary
                        </p>
                    </div>
                </div>
            </div>
            <div class="row pdt-25">
                <div class="color-cube black-text" style="background-color: #FFF1F1;">
                    <p>
                        #FFF1F1 <br>
                        .$c-supporting-primary
                    </p>
                </div>
                <div class="color-cube black-text" style="background-color: #F2F7F9;">
                    <p>
                        #F2F7F9 <br>
                        .$c-supporting-secondary
                    </p>
                </div>
                <div class="color-cube black-text" style="background-color: #F7F7F7;">
                    <p>
                        #F7F7F7 <br>
                        .$c-supporting-tertiary
                    </p>
                </div>
            </div>
            <div class="row col pdt-25 pdb-25">
                <h1>Encabezado H1</h1>
                <h2>Encabezado H2</h2>
                <h3>Encabezado H3</h3>
                <h4>Encabezado H4</h4>
                <h5>Encabezado H5</h5>
                <h6>Encabezado H6</h6>
            </div>
            <div class="row pdt-25 pdb-25">
                <p class="title-condensed title-condensed__main">Grado</p>
                <p class="title-condensed title-condensed__secondary">16  &nbsp; Jul</p>
            </div>
            <div class="row pdt-25 pdb-25">
                <div class="container-fluid pdb-15">
                    <button class="mrl-15 btn-primary btn-large">Large</button>
                    <button class="mrl-15 btn-primary btn-medium">Medium</button>
                    <button class="mrl-15 btn-primary btn-small">Small</button>
                    <button class="mrl-15 btn-primary btn-small" disabled>Small Disabled</button>
                </div>
                <div class="container-fluid pdb-15 pdt-15">
                    <button class="mrl-15 btn-secondary btn-large">Large</button>
                    <button class="mrl-15 btn-secondary btn-medium">Medium</button>
                    <button class="mrl-15 btn-secondary btn-small">Small</button>
                    <button class="mrl-15 btn-secondary btn-small" disabled>Small Disabled</button>
                </div>
                <div class="container-fluid pdb-15 pdt-15" style="background-color: #DE3831">
                    <button class="mrl-15 btn-negative btn-large">Large</button>
                    <button class="mrl-15 btn-negative btn-medium">Medium</button>
                    <button class="mrl-15 btn-negative btn-small">Small</button>
                    <button class="mrl-15 btn-negative btn-small" disabled>Small Disabled</button>
                </div>
            </div>
        </section>
