header {
  margin-bottom: 50px;

  button {
    &.header-btn {
      height: 20px;
      min-width: 20px;
      border-radius: 0;
    }
  }

  h5 {
    font: rem(15) $futura-bold;
    line-height: rem(22px);
    color: $c-grey-text-menu;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  ul {
    display: flex;
    flex-direction: row;
    li {
      position: relative;
      display: inline-flex;
      align-items: center;
      &.search-link {
        padding: 12px 10px;
      }
    }
  }

  .bottom-menu{
    &__content {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 18px 0;
      background-color: $c-white;

      nav {
        ul {
          li {
            & + li {
              margin-left: 65px;
            }
          }
        }
      }

      ul {
        &.sticky-links {
          li {
            border-left: 1px solid $c-main-secondary;
            padding: 0 20px;
            &.no-padding {
              padding: 0;
            }
            &:last-child {
              border-right: 1px solid $c-main-secondary;
            }
          }
        }
      }

      .header-btn {
        margin-left: -20px;
        margin-right: -20px;
        padding-right: 20px;
        padding-left: 20px;
        margin-top: -20px;
        margin-bottom: -20px;
        height: 100%;
        display: inline-flex;
        align-items: center;
      }
    }
  }

  .centered {
    margin: 0 auto;
  }

  .floated-left {
    margin-right: auto;
  }

  .floated-right {
    margin-left: auto;
  }

  .megamenu-content {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0;
    min-width: 230px;
    background-color: $c-white;
    &.open {
      display: block;
    }
  }

  .megamenu-trigger {
    position: relative;
    &.active {
      &:after {
        content: "";
        width: 100%;
        height: 2px;
        background: $c-main-secondary;
        position: absolute;
        top: 58px;
        left: 0;
      }
    }
  }

  .menu-container {
    display: flex;
    flex-direction: row;
    &__group {
      width: 70%;
      a {
        font: rem(15) $muli-regular;
        line-height: rem(18);
        display: block;
        color: $c-black;
        margin-bottom: 5px;
      }
    }
  }

  .private-area-link {
    background-color: $c-main-tertiary;
    .icon {
      vertical-align: bottom;
    }
  }

  .sticky-links {
    li {
      &.only-sticky {
        display: none;
      }
    }
  }

  .sticky-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;

    li {
      &.only-sticky {
        display: inline-flex;
      }
    }
    .bottom-menu{
      border-bottom: 1px solid $c-main-secondary;
      &__content {
        padding: 0;
      }
    }
    .container-logo {
      padding-top: 12px;
      padding-bottom: 5px;
    }
    .hide-when-sticky {
      display: none;
    }
    .megamenu-trigger {
      &.active {
        &:after {
          top: 50px;
          z-index: 21;
        }
      }
    }
  }

  .top-menu {
    border-bottom: 1px solid $c-main-secondary;
    &__links {
      display: flex;
      flex-direction: row;
      ul {
        justify-content: flex-start;
        li {
          font: rem(12) $futura-light;
          line-height: rem(15);
          padding: 12px 25px;
          color: $c-grey-text-dark;
          border-left: 1px solid $c-main-secondary;

          button {
            &.header-btn {
            }
          }
          .icon-phone {
            margin-right: 10px;
          }
          &.text-higlighted-blue {
            font: rem(15) $futura-bold;
            line-height: rem(18);
            color: $c-main-tertiary;
            text-transform: uppercase;
          }
          &.no-padding {
            padding: 0;
          }
        }
        &.floated-right {
          li {
            &:last-child {
              border-right: 1px solid $c-main-secondary;
            }
          }
        }
      }
    }
  }

  .two-line-link {
    color: $c-black;
    font-size: rem(15);
    line-height: rem(18);
    font-family: $futura-bold;
    span {
      font-family: $futura-light;
      display: block;
    }
  }
}
